<strong>Olá, {{ student }}!</strong>
<p>Recebemos sua dúvida e esperamos solucionar o seu problema!</p>
<p>Segue sua resposta logo abaixo:</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <br />
  <small>
    E se voçe ainda tiver qualquer dúvida, é só entrar em contato com nossa equipe!
  </small>
</p>
